{% extends "core/base.html" %}

{% block title %}All Games{% endblock %}

{% block content %}
<h1>All Games</h1>

<ul class="game-list">
    {% for game in games %}
        <li>
            <a href="{% url 'game_detail' game.id %}">
                <h2>{{ game.title }}</h2>
            </a>
            <p><strong>Genre:</strong> {{ game.genre }}</p>
            <p><strong>Developer:</strong> {{ game.developer }}</p>
            <p><strong>Average Rating:</strong> {{ game.average_rating }} / 5</p>
        </li>
    {% endfor %}
</ul>

{% if user.is_authenticated and user.role == 'admin' %}
    <a href="{% url 'create_game' %}" class="btn-create">Create New Game</a>
{% endif %}
{% endblock %}
