/* static/core/styles.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Top Navigation Bar */
.topbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Styling for the left side links */
.left-links a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Styling for the right side links */
.right-links {
    display: flex;
}

.right-links a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #555;
    border-radius: 4px;
    margin-left: 10px;
}

.right-links a:hover {
    background-color: #04AA6D;
    color: white;
}

/* Hover styling for other topbar links */
.left-links a:hover {
    background-color: #ddd;
    color: black;
}

.left-links a.active {
    background-color: #04AA6D;
    color: white;
}
/* static/core/styles.css */

.game-details {
    display: flex;
    align-items: start;
    margin: 20px 0;
}

.game-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-info p {
    margin: 8px 0;
}

.review-list {
    list-style-type: none;
    padding: 0;
}

.review-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.btn-edit {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.btn-edit:hover {
    background-color: #04AA6D;
}
.game-list {
    list-style-type: none;
    padding: 0;
}

.game-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
}

.game-list h2 {
    margin: 0;
    font-size: 24px;
}

.btn-create {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.btn-create:hover {
    background-color: #04AA6D;
}